@import '../../../styles/colors';

.text_content {

    margin: 0 auto;
    padding: 2.5rem 1.5rem;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 1.65;
    background-color: #fff;

    .section {
        margin-bottom: 3rem;



        h2 {
            font-size: 1.45rem;
            font-weight: 600;
            margin-bottom: 1.1rem;
            position: relative;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
        }


        p {
            margin-bottom: 0.9rem;
            font-size: 1.1rem;
        }

        .table {
            border-collapse: collapse;
            margin: 1.5rem 0;
            font-size: 15px;
            border: 1px solid #dcdcdc;

            th,
            td {
                border: 1px solid #dcdcdc;
                padding: 3px;
                text-align: center;
                background: #fff;
            }

            th {
                background: #f4f4f4;
                font-weight: 600;

            }

            tr:nth-child(even) td {
                background: #f9f9f9;
            }
        }



        ol {
            margin: 0px;
            padding: 0px;

            li {
                list-style: none;
            }
        }

        ul {
            margin: 0.6rem 0 1.2rem 1.5rem;
            padding: 0;
            list-style-type: disc;

            li {
                margin-bottom: 0.35rem;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        strong {
            color: #000;
            font-weight: 600;
        }
    }

    .chainsection {
        margin-bottom: 1rem;
    }

    // Mobil uyum
    @media (max-width: 768px) {
        padding: 1.5rem 1rem;
        font-size: 15px;

        .section {
            h2 {
                font-size: 1.25rem;

                &::before {
                    width: 2px;
                }
            }
        }
    }
}