@import '../../styles/colors';

.about_page {
    padding-top: 0px;
    position: relative;
    padding-bottom: 0px;

    &_section {
        position: relative;

        &_container {
            .title {
                font-size: 38px;
                margin-top: 30px;
                padding: 0 1.5rem;

                @media (max-width: 990px) {
                    font-size: 30px;
                }

                @media (max-width: 678px) {
                    font-size: 28px;
                }
            }
        }
    }
}