@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.textarea-wrapper {

    /* LABEL IN FORM */
    .form-label {
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: #64748b;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        display: flex;
        justify-content: space-between;
        line-height: normal;
        margin-bottom: 4px;
    }

    /* INPUT + TEXTAREA */
    .input-field {
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid #cbd5e1;
        background-color: #f8fafc;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        transition: all 0.2s;
        resize: none;

        &:focus {
            border-color: #0B3A82;
            background-color: white;
            outline: none;
            box-shadow: 0 0 0 2px rgba(11, 58, 130, 0.1);
        }
        &::placeholder {
            color: #cbd5e1;
        }
    }

    .error_message {
        font-size: 11px;
        color: #ff0000;
        margin-bottom: 0px !important;
        font-weight: 400;
        text-align: right;
        text-transform: lowercase;
    }

    .input_error {
        border-color: #ff0000 !important;
    }
}