<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect non-www to www -->
                <rule name="Redirect to www" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^heathrow-gatwick-transfers.com$" />
                    </conditions>
                    <action type="Redirect" url="http://www.heathrow-gatwick-transfers.com/{R:0}" redirectType="Permanent" />
                </rule>
                
                <!-- Your existing reverse proxy rule -->
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://95.128.131.165:9000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>