@import '../../../styles/fonts';
@import '../../../styles/variables';


.advertisiment_images_section {
    .advertisiment_images_section_container {
        .advertisiment_images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @media (max-width:990px) {
                flex-wrap: wrap;
                margin-top: 2rem;
                align-items: center;
                justify-content: center;

            }

            .trustpilot {
                .trustpilot_widget_container_desktop {
                    @media (max-width:768px) {
                        display: none;
                    }
                }
                .trustpilot_link_for_mobile {
                    display: none;

                    @media (max-width:768px) {
                        display: block;
                    }
                }
            }

            a {
                position: relative;

                .review_trip_advisor {
                    position: relative;

                    @media (max-width:768px) {
                        display: none;

                    }
                }
            }


        }
    }
}

.advertisiment_images_section_islinkname {
    .advertisiment_images_section_container {
        .advertisiment_images {
            margin-top: 2rem;
        }
    }
}