@import '../../../styles/variables';
@import '../../../styles/_fonts';

.taxideals {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px;
    border-bottom: 1px solid $border;
    border-left: 0px;
    border-right: 0px;

    &_section {
        &_container {
            padding: 0px !important;

            .title {
                text-align: center;

                h1 {
                    font-size: 30px;
                    font-weight: 500;
                }

                p {
                    color: $light-1;
                    margin-top: 10px;
                }

                margin-bottom: 2rem;
            }


            .tabs {
                margin-bottom: 3rem;
                gap: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                button {
                    position: relative;
                    padding: 10px 20px;
                    color: $blue-1;
                    font-weight: 500;
                    font-size: 16px;
                    border: 1px solid $blue-1;
                    border-radius: 4px;

                    &:hover {
                        background-color: $blue-1;
                        color: white;
                    }
                }

                .active {
                    background-color: $blue-1;
                    color: white;
                }
            }

            .btn_div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;

                button {
                    padding: 10px 20px;
                    color: $blue-1;
                    font-weight: 500;
                    font-size: 16px;
                    border: 1px solid $blue-1;
                    border-radius: 4px;
                    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: $blue-1;
                        color: white;
                    }

                    i {
                        transform: rotate(-45deg);
                    }
                }
            }

            .cards {
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .card:hover {
                    .card_image_div {
                        img {
                            transform: scale(1.15);
                        }
                    }
                }

                @media(max-width:1340px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                @media (max-width: 1050px) {
                    grid-template-columns: repeat(2, minmax(350px, 380px));
                    justify-content: center;
                }

                @media (max-width: 767px) {
                    grid-template-columns: 330px;
                }

                .card {
                    width: 100%;

                    .card_image_div {
                        overflow: hidden;
                        height: 300px;
                        margin-bottom: 10px;
                        border-radius: 4px;
                        position: relative;

                        .img {
                            width: 100%;
                            object-fit: cover;
                            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                            height: 100%;
                        }
                    }

                    .card_body {
                        h2 {
                            color: $dark-1;
                            position: relative;
                            margin-bottom: 0px;
                            font-size: 17px;
                            font-weight: 500;
                        }

                        .start_from {
                            display: flex;
                            align-items: center;
                            margin-top: 5px;
                            color: $dark-1;
                            font-weight: 500;
                            font-size: 16px;
                            gap: 10px;
                            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

                            .start_from_text_left {
                                text-transform: capitalize;
                            }

                            .start_from_text_right {
                                color: #0a58ca;
                                font-size: 17px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}