$mainBlack: #0d233e;
$black3: #5D646D;
$lightBlue: #337ab7;
$black1: #0D233E;


$titleColor: #565656;
$bgBlackDark: #262626;
$gray: #737373;
$yellow: #ed8323;
$darkYellow: #c96810;
$yellow3: #BD5B00;
$greenPrimary: #5cb85c;
$greenDark: #3c763d;
$lightOrange: #ffa14c;
$border_gray: rgba(128, 137, 150, 0.2);
//*Transitions
$transition: 0.3s ease-in-out;