//Mixins flex-box
@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin flex-display-column($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin flex-display-row($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

// bg
@mixin bgRepPosSize($noRepeat, $center, $cover) {
    background-repeat: $noRepeat;
    background-position: $center;
    background-size: $cover;
}


//hide text
@mixin hide-text() {
    position: absolute;
    top: -11111px;
    left: -11111px;
}

.hidden-text {
    @include hide-text;
}

//broder radius
@mixin border-radius($px) {
    border-radius: $px;
}
