@import '../../styles/variables';
@import '../../styles/_fonts';


.terms {
    background-color: $light-4;
    padding-bottom: 10px;

    .terms_section {
        @media (max-width:1400px) {
            margin: 0 35px !important;
        }

        @media (max-width:768px) {
            margin: 0 20px !important;
        }

        @media (max-width:450px) {
            margin: 0 10px !important;
        }

    }
}

