@import '../../styles/variables';


.sofor_basvuru_formu {
    height: 100%;
    position: relative;
    margin-top: 0px;
    background-color: white !important;

    &_section {
        @media(max-width:1400px) {
            margin: 0 auto !important;
        }


        &_container {

            display: flex;
            gap: 4rem;

            @media(max-width:1400px) {
                max-width: 100% !important;
                width: 100%;
                padding: 0px 50px !important;
            }

            @media(max-width:1200px) {
                flex-direction: column;
                gap: 1rem;
            }

            @media(max-width:650px) {
                padding: 0px 20px !important;
            }

            .contact_area {
                padding-top: 105px;
                flex-basis: 70%;

                @media(max-width:1200px) {
                    flex-basis: 100%;
                    padding-top: 20px;
                }

                .forms {
                    background-color: white;
                    border-radius: 8px;
                    padding: 20px 20px;
                    width: 100%;
                    max-width: 900px;
                    margin: 0 auto;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .form_card {
                        padding: 20px 0px;
                        width: 100%;
                        max-width: 900px;
                        margin: 0 auto;

                        @media (max-width: 768px) {
                            padding-bottom: 15px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 15px;
                        }



                        h2 {
                            font-size: 22px;
                            font-weight: 600;
                            margin-bottom: 1rem;
                            color: #1e1e1e;

                            @media (max-width: 450px) {
                                font-size: 15px;
                            }
                        }

                        p {
                            margin-bottom: 1.5rem;
                            font-size: 14px;
                            color: #555;
                        }

                        .form {
                            display: flex;
                            flex-direction: column;
                            gap: 1.5rem;

                            @media (max-width: 768px) {
                                gap: 1rem;
                            }

                            .input_box {
                                display: flex;
                                gap: 1rem;
                                align-items: center;

                                @media (max-width: 768px) {
                                    flex-direction: column;
                                    gap: 1rem;
                                }

                                .input {
                                    flex: 1;
                                    margin-bottom: 0; // gap kullanıyoruz zaten
                                }

                                input[type='file'] {
                                    width: 0.1px;
                                    height: 0.1px;
                                    opacity: 0;
                                    overflow: hidden;
                                    position: absolute;
                                    z-index: -1;
                                }

                                .file_label {
                                    font-weight: 500;
                                    display: block;
                                    margin-bottom: 0.5rem;

                                    .file-input__label {
                                        min-width: 150px;
                                        cursor: pointer;
                                        display: inline-flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 4px;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: #4245A8;
                                        font-size: 14px;
                                        padding: 10px 12px;
                                        border: 2px dotted #4245A8;

                                        @media (max-width: 768px) {
                                            font-size: 12px;
                                            padding: 6px 8px;
                                        }
                                    }

                                    .file-input__label:hover {
                                        background-color: rgba(66, 69, 168, 0.25);
                                    }

                                    .file-input__label svg {
                                        height: 16px;
                                        margin-right: 4px;

                                        @media (max-width: 768px) {
                                            height: 14px;

                                        }
                                    }

                                }

                                .file_input {
                                    display: block;
                                    margin-top: 0.5rem;
                                }

                                .radio_group {
                                    display: flex;
                                    gap: 1.5rem;
                                    align-items: center;

                                    label {
                                        font-size: 0.95rem;
                                        cursor: pointer;

                                        input[type="radio"] {
                                            margin-right: 0.2rem;
                                        }
                                    }

                                    @media (max-width: 768px) {
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 0.3rem;
                                    }
                                }


                                .radio_option {
                                    font-size: 0.95rem;
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;
                                    margin-bottom: 0.75rem;

                                    input[type='radio'] {
                                        transform: scale(1.1);
                                    }
                                }

                                button {
                                    background-color: transparent;
                                    border: none;
                                    color: red;
                                    background-color: gray;
                                    height: 0px;
                                }

                           

                            }

                            // Tek input olan satırlar için
                            .input_box:has(.input) {
                                flex-wrap: nowrap;
                            }


                        }

                  

                        .form[boxtype='territory'] {
                            @media (max-width: 768px) {
                                .input_box {
                                    gap: 0px;
                                    margin-bottom: 0px;
                                    align-items: flex-start;
                                }
                            }
                        }

                        .form[boxtype='personalinfo'] {
                            .input_box {
                                .input {
                                    width: 100%;
                                }
                            }
                        }

                        .form[boxtype='vehicleinfo'] {
                            .input_box:first-child {
                                @media (max-width: 768px) {
                                    gap: 0px;
                                }
                            }

                            .input_box {
                                align-items: baseline;

                                .input {
                                    width: 100%;
                                }
                            }
                        }
                    }


                }

            }

            .address_area {
                flex-basis: 30%;
                padding-top: 105px;
                position: relative;

                @media(max-width:1200px) {
                    padding-top: 0px;

                }
            }
        }
    }
}