@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
$font-montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500&display=swap');
$font-sanspro: 'Source Sans Pro', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
$font-jost: 'Jost', sans-serif;


$font-courier: 'Courier New', Courier, monospace;