@import '../../../styles/variables';
@import '../../../styles/_fonts';
.index[bggray="true"] {
    background-color: $light-2;
}

.index[bggray="false"] {
    background-color: white !important;
}
.index {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px;
    border: 1px solid $border;
    border-left: 0px;
    border-right: 0px;



    &_section {

        &_container {
            .title {
                text-align: center;

                h1 {
                    font-size: 30px;
                    font-weight: 500;
                }

                p {
                    color: $light-1;
                    margin-top: 10px;
                }

                margin-bottom: 2rem;
            }

           
        }
    }
}