.rounded_1 {
    border-radius: 1px;
}

.rounded_2 {
    border-radius: 2px;
}

.rounded_3 {
    border-radius: 3px;
}

.rounded_4 {
    border-radius: 4px;
}

.rounded_5 {
    border-radius: 5px;
}

.rounded_6 {
    border-radius: 6px;
}

.rounded_7 {
    border-radius: 7px;
}

.rounded_8 {
    border-radius: 8px;
}

.rounded_9 {
    border-radius: 9px;
}

.rounded_10 {
    border-radius: 10px;
}

.rounded_11 {
    border-radius: 11px;
}

.rounded_12 {
    border-radius: 12px;
}

.rounded_13 {
    border-radius: 13px;
}

.rounded_14 {
    border-radius: 14px;
}

.rounded_15 {
    border-radius: 15px;
}

.rounded_16 {
    border-radius: 16px;
}

.rounded_17 {
    border-radius: 17px;
}

.rounded_18 {
    border-radius: 18px;
}

.rounded_19 {
    border-radius: 19px;
}

.rounded_20 {
    border-radius: 20px;
}

.rounded_21 {
    border-radius: 21px;
}

.rounded_22 {
    border-radius: 22px;
}

.rounded_23 {
    border-radius: 23px;
}

.rounded_24 {
    border-radius: 24px;
}

.rounded_25 {
    border-radius: 25px;
}

.rounded_26 {
    border-radius: 26px;
}

.rounded_27 {
    border-radius: 27px;
}

.rounded_28 {
    border-radius: 28px;
}

.rounded_29 {
    border-radius: 29px;
}

.rounded_30 {
    border-radius: 30px;
}

.rounded_31 {
    border-radius: 31px;
}

.rounded_32 {
    border-radius: 32px;
}

.rounded_33 {
    border-radius: 33px;
}

.rounded_34 {
    border-radius: 34px;
}

.rounded_35 {
    border-radius: 35px;
}

.rounded_36 {
    border-radius: 36px;
}

.rounded_37 {
    border-radius: 37px;
}

.rounded_38 {
    border-radius: 38px;
}

.rounded_39 {
    border-radius: 39px;
}

.rounded_40 {
    border-radius: 40px;
}

.rounded_41 {
    border-radius: 41px;
}

.rounded_42 {
    border-radius: 42px;
}

.rounded_43 {
    border-radius: 43px;
}

.rounded_44 {
    border-radius: 44px;
}

.rounded_45 {
    border-radius: 45px;
}

.rounded_46 {
    border-radius: 46px;
}

.rounded_47 {
    border-radius: 47px;
}

.rounded_48 {
    border-radius: 48px;
}

.rounded_49 {
    border-radius: 49px;
}

.rounded_50 {
    border-radius: 50px;
}
.rounded_half {
    border-radius: 50%;
}