    .accordion {
           // kapalıyken
           max-height: 0;
           overflow: hidden;
           transition: max-height .28s ease, padding .2s ease, opacity .2s ease;
           opacity: 0;
           visibility: hidden;
           margin-bottom: 0rem;
           padding: 10px 15px;

           &.open {
               // içerik tipik olarak ~160-240px; güvenli bir üst sınır ver
               max-height: 320px;
               height: 320px;
               opacity: 1;
               visibility: visible;



               @media (max-width: 767px) {
                   max-height: max-content;
                   height: 250px;
               }

               @media (max-width: 650px) {
                   max-height: max-content;
                   height: 550px;
               }
                      @media (max-width: 450px) {
                   max-height: max-content;
               }
           }

           .galleryGrid {
               display: grid;
               justify-items: center;
               height: 100%;
               grid-template-columns: 1fr 1fr;
               gap: 1rem;

   
                @media (max-width: 650px) {
                                grid-template-columns: 1fr;

               }
           }

           .galleryItem {
               border-radius: .5rem;
               background: #fff;
               position: relative;
               display: flex;
               align-items: center;
               justify-content: center;
               overflow: hidden;
               max-width: 100% !important;
               width: 100%;


           }



           .emptyNote {
               opacity: .7;
               font-size: .95rem;
           }
       }
