/* === FORM FOOTER WRAPPER === */
.form_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #f1f5f9;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}

/* === GO BACK BUTTON === */
.btn_back {
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid transparent;
    background-color: transparent;
    color: #475569;
    /* slate-600 */
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9;
    /* slate-100 */
    border-color: #e2e8f0;
    /* slate-200 */
    text-transform: capitalize;

    &:hover {
        background-color: white;
    }
}

/* === PAYMENT BUTTON === */
.btn_payment {
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    border: 1px solid transparent;
    background-color: #0B3A82;
    /* Brand Blue */
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;

    &:hover {
        background-color: #0c316a;
    }

    &:active {
        transform: scale(0.98);
    }
}