@import '../../../styles/fonts';
@import '../../../styles/variables';

.quotation {
    background-color: #f5f7fc;
    padding-bottom: 30px;

    @media (max-width:1280px) {
        margin-top: 85px;
    }

    .quotation_section {
        .quotation_section_container {
            @media (max-width: 1400px) {
                max-width: 100%;
            }

            div {
                .main_container_taxideal {
                    display: flex;
                    position: relative;
                    gap: 30px;
                    justify-content: space-between;

                    @media (max-width: 1280px) {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}