@import "../../styles/variables";

.privacy {
    height: 100%;
    position: relative;
    margin-top: 50px;
    background-color: white !important;

    &_section {
        @media(max-width:1400px) {
            margin: 0 auto !important;
        }


        &_container {
            @media(max-width:1400px) {
                max-width: 100% !important;
                width: 100%;
            }

            .breadcrumb {
                span {
                    padding: 0px 4px;

                    a {
                        color: black;
                    }
                }
            }

            .terms_container {
                margin-top: 2.5rem;

          
            }


        }
    }
}