@import '../../../styles/_colors';

.uiView {
    margin: 0 var(--window-margin);
    padding-bottom: 0px;

    .container {
        max-width: 1170px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;

        @media (max-width: 992px) {
            max-width: 970px;
            width: 100%;
        }

        @media (max-width: 768px) {
            max-width: 750px;
            width: 100%;
        }

        @media (max-width:450px) {
            padding-left: 0;
            padding-right: 0;
        }

        .features {
            margin-top: 30px;

            .feature_box {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;

                @media (max-width:700px) {
                    grid-template-columns: 1fr !important;
                }

                .thumb {
                    padding-left: 60px;
                    padding-right: 60px;
                    margin-bottom: 20px;
                    text-align: center;


                    @media (max-width: 768px) {
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    .thumb_header {
                        margin-bottom: 15px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;

                        &:hover {
                            color: #000;
                            transition: .5s linear;

                            .thumb_icon {
                                animation: topToBottom linear 1s;
                            }
                        }

                        .thumb_icon {
                            width: 60px;
                            height: 60px;
                            line-height: 60px;
                            font-size: 28px;
                            background-color: #333;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            overflow: hidden;
                            backface-visibility: hidden;

                        }
                    }

                    .thumb_caption {
                        .thumb_title {
                            margin-bottom: 2px;
                            margin-top: .1rem;
                            font-size: 19px;
                            font-family: Roboto,
                                arial,
                                helvetica,
                                sans-serif;
                            color: $titleColor;
                        }

                        .thumb_desc {
                            font-size: 13px;
                            color: $titleColor;

                            line-height: 1.4em;
                            margin-top: 3px;
                            font-family: Roboto,
                                arial,
                                helvetica,
                                sans-serif;
                        }
                    }

                }
            }
        }

        .main_content {
            margin-top: 1rem;
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (max-width:450px) {
                font-size: 13px;
            }

            h2 {
                font-size: 34px;
                margin-bottom: 10px;
                font-family: Roboto,
                    arial,
                    helvetica,
                    sans-serif;
                font-weight: 300;

                @media (max-width:768px) {
                    font-size: 25px;
                }
            }

            .showcontent {
                font-size: 16px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    font-family: Roboto,
                        arial,
                        helvetica,
                        sans-serif;
                    font-weight: 300;

                    @media (max-width:768px) {
                        font-size: 21px;
                    }
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    color: $titleColor;

                    font-family: Roboto,
                        arial,
                        helvetica,
                        sans-serif;
                    font-weight: 300;

                    @media (max-width:768px) {
                        font-size: 19px;
                    }
                }

                .cars_h3 {

                    span {
                        font-weight: normal;
                    }
                }

                ul {
                    padding-left: 15px;

                    li {
                        list-style: disc;
                        color: $titleColor;

                        a {
                            color: $yellow3;
                        }
                    }
                }

                p {
                    font-family: Roboto,
                        arial,
                        helvetica,
                        sans-serif;
                    font-weight: 300;
                    color: $titleColor;

                    a {
                        color: $yellow3;
                    }

                    i {
                        font-size: 18px;
                    }
                }

            }





            .desc {
                margin-bottom: 10px;
                text-align: justify;
                font-size: 17px;
                font-weight: 500;
                font-family: Roboto,
                    arial,
                    helvetica,
                    sans-serif !important;

                button {
                    background-color: transparent;
                    text-decoration: underline;
                    color: $yellow3;
                    border: 1px solid transparent;
                    margin-left: 10px;
                    font-size: 17px;
                    display: none;

                    @media (max-width:768px) {
                        display: inline;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}