@import '../../../styles/_colors';

.nav_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid $yellow3;

    @media (max-width: 990px) {
        background: $bgBlackDark;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        top: 0px;
        width: 1200px;
        height: 46px;
        z-index: 999;
        padding: 0 10px;
        z-index: 99999;

        @media (max-width: 1226px) {
            justify-content: space-between;
        }

        @media (max-width: 1200px) {
            width: 970px;
        }

        @media (max-width: 990px) {
            background: $bgBlackDark;
            max-width: 750px;
            padding: 0 calc(var(--window-margin) - 20px) 0 var(--window-margin);
            top: 88px;
        }



        @media (max-width: 750px) {
            max-width: 100%;
        }


        .logoDiv {
            cursor: pointer;
            display: none;

            @media (max-width: 990px) {
                display: block;

                a {
                    color: white;
                }
            }
        }


        .menu {
            width: 22px;
            height: 16px;
            cursor: pointer;
            display: none;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin-right: 20px;
            user-select: none;

            display: none;
          @media (max-width: 990px) {
                display: flex;
            }
            @media (max-width: 450px) {
                margin-right: 15px;
            }

            .line {
                width: 100%;
                height: 2px;
                border-radius: 99px;
                background-color: #d5d5d5;
                transition: background 0.3s ease, transform 0.3s ease;
                transform-origin: left;

                &:nth-child(3) {
                    transform-origin: left;
                }
            }
        }



        .menuActive {
            .line:nth-child(1) {
                transform: rotate(40deg) !important;
            }

            .line:nth-child(3) {
                transform: rotate(-40deg) !important;
            }

            .line:nth-child(2) {
                transform: scale(0) !important;
            }
        }

    }
}