@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.journey-wrapper {
    margin-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
}

/* SECTION TITLE */
.section-title {
    font-size: 18px;
    font-weight: 700;
    color: #0B3A82; /* brand-blue */
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 1rem;
}

/* GRID */
.journey-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}





/* FORM GRID */
.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.span-2 {
    grid-column: span 2;
}

.journey-title{
        font-size: 18px;
    font-weight: 700;
    color: #0B3A82;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 1rem;
}
/* UPPERCASE for flight number */
.uppercase {
    text-transform: uppercase;
}
