@import '../../../styles/variables';
@import '../../../styles/_fonts';
.addBarActive {
  display: flex;
  justify-content: flex-end;
}
.addBar {
    margin-bottom: 14px;

    .addBtn {
        appearance: none;
        border: 0;
        border-radius: 10px;
        padding: 8px 13px;
        font-size: 14px;
        cursor: pointer;
        // background: $primary;
        color: white;
    }

    .addCard {
        background: #fff;
        border: 1px solid #e8e8ec;
        border-radius: 10px;
        padding: 12px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .03);
        display: grid;
        gap: 10px;

        .input,
        .textarea {
            width: 100%;
            font: inherit;
            padding: 8px 10px;
            border: 1px solid #d9d9df;
            border-radius: 8px;
            outline: none;
        }

        .addActions {
            display: flex;
            gap: 8px;
            justify-content: flex-end;
        }

        .deleteBtn {
            background: #ffe8e8;

        }

        .saveBtn {
            background: #e7fbe7;
        }

        .deleteBtn,
        .saveBtn {
            appearance: none;
            border: 0;
            border-radius: 8px;
            padding: 6px 10px;
            font-size: 13px;
            cursor: pointer;
            white-space: nowrap;
        }
    }

}