@import '../../styles/colors';

.contact_page {
    padding-top: 0px;
    position: relative;
    padding-bottom: 0px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    &_section {
        position: relative;
        max-width: 1200px;
        width: 100%;

        // biz burda eklemedik cunki breadcrumb sonradan eklenildi ona gore scss karisiklik yarandi
        //ne vaxt bunu istifade etsen oldugu kimi istifade et
        &_container {
            padding: 0 15px;
            padding-top: 0rem !important;
            padding-bottom: 5rem !important;
            width: 100%;
            max-width: 1200px;

            .div_breadcrumb {

            }

            @media (max-width:1200px) {
                padding: 0 20px;
            }

            @media (max-width:450px) {
                padding: 0 10px;
            }

            h1 {
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
                font-size: 34px;
                font-family: Roboto, arial, helvetica, sans-serif;



                @media (max-width:990px) {
                    font-size: 28px;

                }

            }

            .pdesc {
                margin-bottom: 2rem;
                font-family: Roboto, arial, helvetica, sans-serif;
            }

            .form_content {
                background-color: white;
                padding: 35px;
                display: flex;
                border: 1px solid #ff800052;


                @media (max-width:990px) {
                    flex-direction: column-reverse;
                    padding: 25px;
                }

                &_left {
                    background-color: lighten($yellow, 0%);
                    padding: 35px;

                    @media (max-width:450px) {
                        background-color: white;
                        padding: 0px;
                    }

                    &_title {
                        color: white;
                        font-size: 26px;
                        font-family: 'Courier New', Courier, monospace;
                        font-weight: bold;
                        margin-bottom: 3rem;

                        @media (max-width:450px) {
                            color: $yellow;
                            margin-bottom: 1.8rem;
                            margin-top: 1rem;
                        }
                    }

                    .icon_div {
                        position: relative;
                        padding-left: 45px;
                        padding-bottom: 5px;
                        margin-bottom: 15px;
                        border-bottom: 1px solid hsla(215, 9%, 55%, .1);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        // align-items: center;
                        h5 {
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            letter-spacing: 1px;
                            font-size: 17px;

                            @media (max-width:450px) {
                                color: #737373;

                            }
                        }

                        a {}

                        p,
                        a {
                            color: rgb(243, 232, 232);

                            @media (max-width:450px) {
                                color: #737373;
                                color: lighten($color: #737373, $amount: 18%);
                            }
                        }

                        i {
                            position: absolute;
                            left: 0;
                            top: 9px;
                            width: 29px;
                            height: 29px;
                            font-size: 18px;
                            background-color: rgb(246, 235, 235);
                            color: $yellow;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                }

                &_right {
                    padding: 35px;
                    // border: 1px solid yellow;
                    flex: 1;

                    @media (max-width:768px) {
                        padding: 10px 0px 20px 0px;
                    }

                    &_title {
                        color: $yellow;
                        font-size: 26px;
                        font-family: "Courier New",
                            Courier,
                            monospace;
                        font-weight: bold;
                        margin-bottom: 3rem;
                    }

                    .form {
                        display: flex;
                        gap: 3rem;

                        @media (max-width:768px) {
                            flex-direction: column;
                            gap: 0px;
                        }

                        &_left {
                            flex: 1;
                        }

                        &_right {
                            flex: 1;

                            @media (max-width:768px) {
                                padding-right: 0px !important;
                            }
                        }
                    }

                    .btn_div {
                        button {
                            padding: 8px 42px;
                            margin-top: 2rem;
                            background-color: $yellow;
                            color: white;
                            font-weight: bold;
                            border: none;
                            cursor: pointer;

                            &:hover {
                                background: lighten($color: $yellow, $amount: 10%);
                            }

                            &:active {
                                transition: .11s linear;
                                transform: scale(0.95);

                            }
                        }

                        @media (max-width:990px) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                    }
                }

            }
        }
    }
}