@import '../../../styles/colors';

.desktop_menu {
    .ul {
        --padding: 15px;
        --font-size: 16px;
        list-style: none;
        display: flex;
        align-items: center;
        transition: 0.5s ease;
        position: relative;


        .li_item {
            position: relative;
            display: inline-block;

            @media (max-width: 992px) {
                width: 100%;
                text-align: left;
                position: relative;

                &:not(:last-child)::after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    left: 0%;
                    right: 0%;
                    height: 1px;
                    background-color: #efefef;
                    ;
                }
            }

            @media (max-width: 650px) {
                text-align: start;
            }

            a {
                padding: 12px;
            }

            &:hover {
                transition: $transition;
                background-color: $yellow;

                a {
                    color: white;
                }
            }

            .manageBookingItem {
                width: 174px;
            }

            .item {
                color: $gray;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
                cursor: pointer;
                display: block;

                @media (max-width: 992px) {
                    width: 100%;
                    text-transform: capitalize;
                }
            }
        }


        .active {
            background-color: #BD5B00;

            a {
                color: white !important;

            }
        }



        .hoverlayItem {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .fa_icon_for_desktop {
                margin-right: 10px;
                margin-top: 6px;

                img {
                    filter: invert(47%) sepia(3%) saturate(6%) hue-rotate(318deg) brightness(94%) contrast(85%);
                }

            }

            &:hover {
                .fa_icon_for_desktop {
                    color: white;

                    img {
                        filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
                    }

                }
            }

            a {
                padding: 12px;
            }



            //! this is for desktop
            .hoverUl {
                position: absolute;
                background-color: $bgBlackDark;
                top: 48px;
                left: -0px;
                width: 100%;
                height: 0px;
                visibility: hidden;
                opacity: 0;
                transition: $transition;



                li {
                    padding: 12px 14px 8px 20px !important;
                    text-transform: capitalize;

                    &:hover {
                        background-color: $yellow;
                        transition: $transition;
                    }

                    a {
                        color: white;
                        padding-left: 0px;
                    }
                }
            }

            &:hover {
                .hoverUl {
                    height: 194px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .ulActive {
        margin: 0px;
        margin-top: 12px;
        background: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 0px calc(var(--window-margin) - 20px) 0 var(--window-margin);
        transition: 0.4s linear;
        min-height: 0px;

    }
}