    @import '../../../styles/fonts';
    @import '../../../styles/variables';

    .quotation_panel_istaxideal {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        padding-top: 11rem;
        background-color: #ededed;
        flex: 1;



        .modal {
            background-color: rgba(0, 0, 0, 0.6);
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 9999;
            padding: 100px !important;
            margin: 0px;
            height: 100%;
            width: 100%;
            animation: zoomout;
            opacity: 1;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-delay: .18s;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);


        }

        .modal_map {
            .modal_map_container {
                position: relative;
                width: 990px;
                height: 650px;

                @media only screen and (max-width: 1200px) {
                    padding: 20px;
                }


                .close_div {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    background-color: rgb(255, 255, 255);
                    width: 35px;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    border-radius: 3px;

                    @media only screen and (max-width: 1200px) {
                        top: 25px;
                        right: 25px;
                    }

                    i {
                        color: rgb(0, 0, 0);
                        font-size: 25px;
                    }
                }


                .google_map {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .map_direction {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            button {
                padding: 10px 18px;
                border-radius: 4px;
                font-size: 20px;
                position: absolute;
            }
        }

        .left_info[direction="true"] {
            li {
                gap: 0px;
            }
        }

        .left_info {
            color: $dark-1;
            padding: 10px 10px;
            font-weight: 500;
            border-bottom: solid 1px #d8e4e7;

            a {
                font-weight: 400;
            }

            .left_info_title {
                font-size: 24px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            ul {

                li {
                    margin-bottom: 7px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 400;
                    gap: 10px;
                    position: relative;

                    .checkbox {
                        position: absolute;
                        user-select: none;
                        cursor: pointer;
                        opacity: 0;

                        // Text
                        &+label {
                            padding-left: $checkbox-size ;
                            user-select: none;
                            color: transparent;

                            // Checkbox
                            &:before {
                                position: absolute;
                                display: block;
                                left: 0;
                                top: 48%;
                                transform: translateY(-50%);
                                content: "";
                                background: transparent;
                                width: $checkbox-size;
                                height: $checkbox-size;
                                border-radius: 4px;
                                transition: 200ms ease-in-out all;
                            }

                            // Tick
                            &:after {
                                position: absolute;
                                display: block;
                                top: 7px;
                                left: 5px;
                                content: "";
                                width: 5px;
                                height: 8px;
                                border-right: 2px solid transparent;
                                border-bottom: 2px solid transparent;
                                transform: rotate(45deg);
                                transition: 200ms ease-in-out all;

                            }
                        }

                        // Checked
                        &:checked {
                            &+label {
                                &:before {
                                    background: $checkbox-selected;
                                    box-shadow: none;
                                }

                                &:after {
                                    border-color: white;
                                }
                            }
                        }

                    }
                }
            }

        }

        .tripad_left_info {
            padding: 10px 0px;

            .tripad_a {
                .tripad_img {
                    transform: translateX(-20px);
                    width: 110%;
                    height: 105px;
                    object-fit: contain;

                    @media(max-width:1500px) {
                        width: 104%;
                        transform: translateX(-20px);
                    }

                    @media(max-width:1450px) {
                        object-fit: contain;
                        transform: translateX(-28px);
                        width: 106%;
                    }

                    @media(max-width:1350px) {
                        width: 110%;
                    }
                }
            }
        }

        .acceptedcards {
            padding-bottom: 29px;
            padding: 10px 0px;

            img {
                width: 105%;
                transform: translateX(-10px);
            }
        }

        .tfl {
            padding: 10px 5px;

            img {
                width: 112%;
                transform: translateX(-25px);
            }
        }

        .left_support {
            padding: 10px 0px;

            p {
                margin-bottom: 20px !important;
            }

            ul {
                .mail {
                    img {
                        width: 18px;
                        margin-bottom: -5px;
                        margin-left: 4px;
                    }
                }

                .wp {

                    img {
                        width: 25px;
                        margin-bottom: 2px;
                    }
                }

                .phone {
                    margin-bottom: 13px;

                    img {
                        width: 20px;
                        margin-bottom: 2px;
                        margin-left: 3px;
                    }
                }

                li {

                    display: grid;
                    grid-template-columns: 20px 1fr;
                }
            }
        }

        .services {
            padding: 10px 0px !important;
            text-transform: capitalize;
        }

        .form_div {
            .radio_button_div {
                margin-top: 10px;
                user-select: none;
                cursor: pointer;
                display: block;

                input,
                label {
                    cursor: pointer;
                    margin-left: 6px;
                    color: rgb(115, 115, 115);
                    font-size: 20px;
                    text-transform: capitalize;
                }
            }

            .search_menu {
                border-bottom: 1px solid transparent !important;
            }

            //2022-12-12
            .book_input_date {
                position: relative;
            }



        }
    }