@import "../../styles/variables";

.page {
    position: relative;
    padding-top: 2px;

    @media (max-width: 1150px) {
        padding-top: 30px;
        padding-bottom: 0px !important;
    }

    .descriptions {
        padding: 10px 0px;

        @media (max-width: 768px) {
            padding: 0px;
        }

        .links {
            display: flex;
            flex-wrap: wrap;

            p {
                a {
                    color: $--color-accent-1;
                }

                padding-left: 5px;
                padding-right: 5px;
                text-transform: capitalize;

                @media (max-width: 990px) {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }

    &_section {
        &_container {

            display: flex;
            gap: 80px;
            padding: 0px;
            max-width: 930px !important;
            width: 100%;

            .wrapper {
                display: flex;
                flex-direction: column;

                @media (max-width: 1000px) {
                    flex-basis: 100%;
                }

                .title_div_mobile {
                    display: none;

                    @media (max-width:990px) {
                        display: block;
                    }

                    h1 {
                        font-size: 26px;
                        margin-top: 1rem;

                        @media (max-width:480px) {
                            font-size: 20px;
                        }

                    }

                    .title_div_mobile_description {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1rem;


                        a {
                            i {
                                color: $--color-yellow-1;
                                padding: 0px 2.5px;
                                font-size: 10px;
                            }

                            span {
                                margin-left: 10px;
                                font-size: 14px;
                                color: red;
                                font-weight: 500;
                            }
                        }
                    }

                }

                //IT ISn ot gonna be visible on mobile
                .images {
                    @media (max-width: 990px) {
                        display: none;
                    }

                    .images_content {
                        display: grid;
                        grid-template-columns: 0.6fr 0.2fr 0.2fr;
                        grid-template-rows: 0.4fr 0.6fr;
                        gap: 10px;

                        .gallery_grid {
                            position: relative;

                            .container_auto_center {

                                .intro {
                                    position: absolute;
                                    color: white;
                                    width: 98%;
                                    bottom: 20px;
                                    display: flex;
                                    justify-content: flex-end;
                                    right: 20px;

                                    @media (max-width: 550px) {
                                        right: 10px;
                                        bottom: 10px;
                                    }
                                }
                            }
                        }

                        .gallery_grid img {
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            border-radius: 4px;
                            object-fit: cover;
                        }

                        .gallery_grid:nth-child(1) {
                            grid-row: 2 span;
                        }

                        .gallery_grid:nth-child(4) {
                            grid-column: 2 span;
                        }


                    }
                }

                .content {
                    margin-top: 1.5rem;

                    .slider_for_mobile {
                        display: none;

                        @media (max-width: 990px) {
                            display: block;
                        }
                    }

                    .navigation_modal_slider {
                        @media (max-width: 768px) {
                            display: none;
                        }

                        .prev_btn,
                        .next_btn {
                            position: absolute;
                            background-color: rgb(0, 0, 0);
                            cursor: pointer;
                            color: white;
                            width: 30px;
                            height: 40px;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 50%;
                            transform: translateY(-50%);

                            &:hover {
                                background-color: lighten(#000000, 5%);
                                color: rgb(200, 195, 195);
                                transition: 0.2s linear;

                            }
                        }


                        .prev_btn {
                            left: 10px;
                        }

                        .next_btn {
                            right: 10px;
                        }
                    }

                    .title_content_for_desktop {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        border-bottom: 1px solid $--color-light-3;
                        padding-bottom: 38px;

                        @media (max-width: 990px) {
                            display: none;
                        }


                        .title_div {
                            h1 {
                                font-weight: 500;
                                font-size: 28px;
                                margin-top: 1.5rem;
                            }

                            .title_div_description {
                                a {
                                    i {
                                        color: $--color-yellow-1;
                                        padding: 0px 2.5px;
                                        font-size: 10px;
                                    }

                                    span {
                                        margin-left: 10px;
                                        font-size: 14px;
                                    }
                                }
                            }

                        }

                        .start_from_price_btn_div {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;

                            .start_from_price_btn_div_content {
                                font-size: 14px;
                                display: flex;
                                justify-content: flex-end;
                                text-transform: capitalize;
                                font-weight: 500;

                                span {
                                    font-size: 22px;
                                    margin-left: 10px;

                                }
                            }

                        }
                    }

                    .snapshot_title {
                        margin-top: 2rem;
                        font-weight: 500;
                        font-size: 22px;
                    }

                    .snapshot_icons_content {
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        gap: 2rem;
                        justify-content: space-between;
                        border-bottom: 1px solid $--color-light-3;
                        padding-bottom: 30px;

                        @media (max-width: 768px) {
                            display: grid;
                            grid-template-columns: 1fr 1fr;

                        }

                        @media (max-width: 520px) {
                            grid-template-columns: 1fr;
                            gap: 13px;

                        }

                        .snapshot_icons_div {
                            display: flex;
                            align-items: flex-start;

                            i {
                                color: lighten($--color-accent-1-dark, 7%);
                                padding-right: 10px;
                                font-size: 18px;
                            }

                            .snapshot_icons_div_description {
                                font-size: 15px;
                                text-transform: capitalize;
                            }
                        }

                    }

                }

                .form_div {
                    padding: 8px 14px;
                    transition: box-shadow 300ms $tr-cubic 0ms;
                    border-radius: 4px;
                    box-shadow: $box-shadow-1;
                    width: 100%;

                    @media (max-width: 990px) {
                        max-width: 650px;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                    }


                    .form_div_wrapper {
                        margin-top: 0rem;
                        padding: 16px 0px;
                        display: flex;
                        gap: 2.5rem;

                        @media (max-width: 990px) {
                            display: flex;
                            flex-direction: column;
                        }

                        .adults_selection_div_columns {
                            margin-top: 0rem;
                            display: flex;
                            gap: 2.5rem;

                            @media (max-width: 990px) {
                                display: flex;
                                justify-content: space-evenly;
                                gap: 1.5rem;

                            }

                            @media (max-width: 450px) {
                                justify-content: space-between;

                            }

                            .adults_selection_div_column {
                                display: flex;
                                flex-direction: column;

                                .name {
                                    margin: 0px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 1.57;
                                    text-align: center;

                                    @media (max-width: 600px) {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    span {
                                        margin-left: 10px;
                                        font-weight: bold;
                                        font-size: 20px;
                                        color: $--color-accent-1-dark;

                                        @media (max-width: 600px) {
                                            margin-left: 0px;
                                        }
                                    }
                                }

                                .desc {
                                    margin: 8px 0px;
                                    font-weight: 400;
                                    line-height: 1.43;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    color: $input_text_color;
                                    text-align: center;
                                }

                                .adults_selection_div_column_numbers_div {
                                    display: flex;
                                    flex-direction: column;

                                    .adults_selection_div_column_numbers_div_left[direction="true"] {
                                        flex-direction: row-reverse;
                                    }

                                    .adults_selection_div_column_numbers_div_left {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .number {
                                            margin-left: 0.75rem;
                                            margin-right: 0.75rem;
                                        }

                                        .disabled {
                                            color: $disabled !important;
                                            cursor: default !important;
                                        }

                                        .left_arrow,
                                        .right_arrow {
                                            cursor: pointer;
                                            color: $--color-accent-1;
                                        }
                                    }


                                }
                            }
                        }

                        .arrivaldate_div {
                            flex: 1;
                        }

                        .time {
                            flex: 1;

                            .hours_minutes {
                                min-height: 50px;
                                position: relative;
                                display: flex;
                                user-select: none;
                                flex-direction: column;

                                p {
                                    font-size: 15px;
                                    font-weight: 500;
                                    text-transform: capitalize;
                                    padding-right: 8px;
                                    padding-bottom: 10px;
                                }

                                .select_time_div {
                                    display: flex;
                                    gap: 10px;

                                    .booking_form_hour_minute_wrapper {
                                        width: 100%;
                                        position: relative;
                                        border: 0px;
                                        border-bottom: 1px solid $--color-light-6;

                                        @media(max-width:990px) {
                                            max-width: 100%;
                                        }

                                        select {
                                            border: none;
                                            width: 100%;
                                            font-size: 15px;
                                            background-color: white;

                                            &:focus {
                                                outline: 0px !important;
                                            }
                                        }

                                    }
                                }
                            }

                            .price {
                                font-weight: bold;
                                text-transform: capitalize;
                                text-align: right;
                                margin-top: 1rem;

                                @media (max-width: 768px) {
                                    margin-top: 2rem;
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .booknow_div {
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 16px;
                        margin-top: 16px;

                        @media (max-width: 768px) {
                            margin-bottom: 10px;
                            margin-top: 0px;
                        }
                    }
                }

                .page_content {
                    margin-top: 4rem;

                    h1 {
                        strong {
                            font-weight: 500;
                        }

                        @media (max-width: 768px) {
                            font-size: 24px;
                        }
                    }

                    h2,
                    h3,
                    h4 {

                        padding: 5px 0px;
                        font-weight: 500;

                        strong {
                            font-weight: 500;
                        }
                    }

                    p {
                        padding: 5px 0px;

                        strong {
                            font-weight: 500;
                        }
                    }

                    li {
                        list-style: disc;
                        margin-left: 18px;
                        padding: 3px 0px;
                        font-weight: 500;

                        strong {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}