@import '../../styles/variables';


.tours {
    height: 100%;
    position: relative;
    padding-top: 40px;
    border: 1px solid $--color-light-3;
    margin-top: 0px;
    box-shadow: $box-shadow-2;
    padding-bottom: 45px;

    &_section {
        &_container {
            .title {
                margin-bottom: 2rem;
                h2,
                h1 {
                    text-align: center;
                    font-size: 30px;
                    font-weight: 500;
                }
            }

            .cards_content {
                display: flex;
                flex-direction: column;

                .btn_div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 3rem;
                }

                .cards {
                    display: grid;
                    gap: 2rem;
                    grid-template-columns: 1fr 1fr 1fr 1fr;


                    .card:hover {
                        .card_image_div {
                            img {
                                transform: scale(1.15);
                            }
                        }

                        .card_body {
                            h2 {
                                &::after {
                                    width: 100%;
                                }
                            }

                            .start_from {
                                color: $--color-accent-1-dark;
                            }
                        }
                    }

                    @media(max-width:1340px) {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    @media (max-width: 1050px) {
                        grid-template-columns: repeat(2, minmax(350px, 380px));
                        justify-content: center;
                    }

                    @media (max-width: 767px) {
                        grid-template-columns: 330px;
                    }

                    .card {
                        width: 100%;
                        box-shadow: $box-shadow-1;
                        border-radius: 5px;

                        .card_image_div {
                            overflow: hidden;
                            height: 250px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;

                            .img {
                                width: 100%;
                                object-fit: cover;
                                transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                                height: 100%;
                            }

                        }

                        .card_body {
                            padding: 5px 10px;


                            h2,
                            h3 {
                                color: $--color-dark-1;
                                position: relative;
                                margin-bottom: 0px;
                                font-size: 15px;
                                font-weight: 500;
                                text-align: right;
                            }

                            .card_desc {



                                &_subtitle {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;


                                    .card_detail_btn_box {
                                        display: flex;
                                        color: $--color-dark-2;
                                        padding-top: 10px;
                                        text-transform: capitalize;

                                        .detail_btn {
                                            background-color: transparent;
                                            border: none;
                                            cursor: pointer;
                                        }

                                        .detail_arrow_icon {
                                            font-size: 14px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 5px;
                                            margin-top: 2px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}