@import '../../../styles/variables';
@import '../../../styles/_fonts';



.testimonials {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px !important;
    border-bottom: 1px solid $border;

    &_section {
        &_container {


            .dangerous_div {
                max-width: 990px;
                width: 100%;
                margin: 0 auto;
                color: black;

                p {
                    span {
                        font-size: 18px;
                    }
                }

                li {
                    list-style: disc;
                    margin-left: 18px;
                }

                h2 {
                    margin-top: 16px;
                    margin-bottom: 10px;

                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}