@import '../../../styles/variables';



.testimonials {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px !important;
    border-bottom: 1px solid $--color-light-4;
}