@import '../../../styles/variables';
@import '../../../styles/_fonts';



.testimonials {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px !important;
    border-bottom: 1px solid $border;

    &_section {
        &_container {
            .sub_desc {
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                text-align: justify;
                color: darken($light_1, 45%);

                button {
                    background-color: transparent;
                    text-decoration: underline;
                    color: $blue-1;
                    border: 1px solid transparent;
                    margin-left: 10px;
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;
                }

                .bold_span {
                    font-weight: bold;
                }
            }

            h1 {
                font-size: 27px;
                font-weight: 500;
                margin-bottom: 16px;

            }

            .dangerous_div {
                p {
                    span {
                        font-size: 18px;
                    }
                }

                h2 {
                    margin-top: 16px;
                    margin-bottom: 10px;

                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}