@import '../../styles/variables';
@import '../../styles/_fonts';

.fleet {
    background-color: #f5f7fc;
    padding-bottom: 10px;

    .fleet_section {

        .fleet_section_container {
            display: flex;
            gap: 60px;
padding: 0px;
            .right_content {
                flex-basis: 23%;

                display: flex;
                flex-direction: column;

                //!taxi deals
                .quotation_panel_istaxideal {

                    position: relative !important;
                    top: 0px;
                    padding-top: 3px;
                    // padding-top: 1rem;

                    @media (max-width:1400px) {
                        // flex-basis: 20%;
                    }

                    @media (max-width: 1000px) {


                        display: none;

                    }

                    .modal_map {
                        .modal_map_container {
                            position: relative;
                            width: 990px;
                            height: 650px;

                            @media only screen and (max-width: 1200px) {
                                padding: 20px;
                            }


                            .close_div {
                                position: absolute;
                                right: 5px;
                                top: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                z-index: 1;
                                background-color: rgb(255, 255, 255);
                                width: 35px;
                                cursor: pointer;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                border-radius: 3px;

                                @media only screen and (max-width: 1200px) {
                                    top: 25px;
                                    right: 25px;
                                }

                                i {
                                    color: rgb(0, 0, 0);
                                    font-size: 25px;
                                }
                            }


                            .google_map {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .map_direction {
                        margin-top: 0px;
                        min-height: 144px;
                        background-image: url('/images/mapLondonn.png');
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                        button {
                            padding: 10px 18px;
                            border-radius: 4px;
                            font-size: 20px;
                        }
                    }

                    .left_info[direction="true"] {
                        li {
                            gap: 0px;
                        }
                    }



                    .left_info {
                        color: $dark-1;
                        padding: 10px 10px;
                        font-weight: 500;
                        border-bottom: solid 1px #d8e4e7;

                        a {
                            font-weight: 400;
                        }

                        .left_info_title {
                            font-size: 24px;
                            margin-bottom: 10px;
                            font-weight: 500;
                        }

                        ul {

                            li {
                                margin-bottom: 7px;
                                // margin-left: 5px;
                                // padding-left: 11px;
                                display: flex;
                                align-items: center;
                                font-size: 15px;
                                font-weight: 400;
                                gap: 10px;
                                position: relative;

                                .checkbox {
                                    position: absolute;
                                    user-select: none;
                                    cursor: pointer;
                                    font-family: $font-jost;
                                    opacity: 0;

                                    // Text
                                    &+label {
                                        padding-left: $checkbox-size ;
                                        user-select: none;

                                        // Checkbox
                                        &:before {
                                            position: absolute;
                                            display: block;
                                            left: 0;
                                            top: 48%;
                                            transform: translateY(-50%);
                                            content: "";
                                            background: transparent;
                                            width: $checkbox-size;
                                            height: $checkbox-size;
                                            border-radius: 4px;
                                            transition: 200ms ease-in-out all;
                                        }

                                        // Tick
                                        &:after {
                                            position: absolute;
                                            display: block;
                                            top: 7px;
                                            left: 5px;
                                            content: "";
                                            width: 5px;
                                            height: 8px;
                                            border-right: 2px solid transparent;
                                            border-bottom: 2px solid transparent;
                                            transform: rotate(45deg);
                                            transition: 200ms ease-in-out all;

                                        }
                                    }

                                    // Hover
                                    &+label:hover {
                                        color: #333;
                                    }

                                    // Focus
                                    &+label:focus {
                                        outline: none;
                                    }

                                    // Checked
                                    &:checked {
                                        &+label {
                                            &:before {
                                                background: $checkbox-selected;
                                                box-shadow: none;
                                            }

                                            &:after {
                                                border-color: white;
                                            }
                                        }
                                    }

                                }
                            }



                            .badge__content {
                                border-radius: 12px;
                                box-shadow: inset 0 0 0 1px rgb(0 0 0 / 3%);
                                border-radius: 15px;
                                background-color: #3c466d;

                                .badge_stars {
                                    color: #ffe234;
                                    text-align: center;
                                    font-size: 22px;
                                    gap: 2px;
                                    display: flex;
                                    justify-content: center;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    background-color: #fff;


                                }

                                .badge_stats {
                                    color: #000;
                                    border-bottom-left-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                    text-align: center;
                                    font-weight: 400;

                                    .stats_wrpa {
                                        background-color: #fff;

                                        .stats__score {
                                            .ruk_rating {
                                                font-weight: bold;
                                                font-size: 19px;
                                                margin-right: 5px;
                                            }
                                        }

                                        .stats__count {
                                            .ruk_count {
                                                font-weight: bold;
                                                font-size: 19px;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        width: 175px;
                                        height: 45px;
                                    }
                                }


                            }



                            .heathrow_image_video_a {
                                cursor: pointer;

                                .heathrow_image_video_img {
                                    height: 100px;
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }

                            .whichterminal_a {
                                img {
                                    width: 100%;
                                    height: 53px;
                                }
                            }

                            .approve_a {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    object-fit: cover;
                                }
                            }
                        }




                    }

                    .tripad_left_info {
                        padding: 10px 0px;

                        .tripad_a {
                            .tripad_img {
                                transform: translateX(-20px);
                                width: 110%;
                                height: 105px;
                                object-fit: contain;

                                @media(max-width:1500px) {
                                    width: 104%;
                                    transform: translateX(-20px);
                                }

                                @media(max-width:1450px) {
                                    object-fit: contain;
                                    transform: translateX(-28px);
                                    width: 106%;
                                }

                                @media(max-width:1350px) {
                                    width: 110%;
                                }
                            }
                        }
                    }

                    .acceptedcards {
                        padding-bottom: 29px;
                        padding: 10px 0px;

                        img {
                            width: 105%;
                            transform: translateX(-10px);
                        }
                    }

                    .tfl {
                        padding: 10px 5px;

                        img {
                            width: 112%;
                            transform: translateX(-25px);
                        }
                    }


                    .left_support {
                        padding: 10px 0px;

                        p {
                            margin-bottom: 20px !important;
                        }

                        ul {
                            .mail {
                                img {
                                    width: 18px;
                                    margin-bottom: -5px;
                                    margin-left: 4px;
                                }
                            }

                            .wp {

                                img {
                                    width: 25px;
                                    margin-bottom: 2px;
                                }
                            }

                            .phone {
                                margin-bottom: 13px;

                                img {
                                    width: 20px;
                                    margin-bottom: 2px;
                                    margin-left: 3px;
                                }
                            }

                            li {

                                display: grid;
                                grid-template-columns: 20px 1fr;







                                span {}
                            }
                        }
                    }

                    .services {
                        padding: 10px 0px !important;
                        text-transform: capitalize;
                    }

                    .form_div {
                        .radio_button_div {
                            margin-top: 10px;
                            user-select: none;
                            cursor: pointer;
                            display: block;

                            input,
                            label {
                                cursor: pointer;
                                margin-left: 6px;
                                color: rgb(115, 115, 115);
                                font-size: 20px;
                                font-family: $font-jost;
                                text-transform: capitalize;
                            }
                        }

                        .search_menu {
                            border-bottom: 1px solid transparent !important;


                        }

                        //2022-12-12
                        .book_input_date {
                            position: relative;
                        }

                        .dropoff_div {
                            // padding-top: 0px !important;
                        }

                    }
                }
            }

            .left_content {
                flex-basis: 77%;

                .fleet_header {
                    padding: 20px;
                    border: 1px solid #f7f7f7;
                    color: $dark-1;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    font-family: $font-jost;

                    h1 {
                        @media (max-width: 768px) {
                            font-size: 30px;
                        }

                        @media (max-width: 500px) {
                            font-size: 25px;
                        }

                        @media (max-width: 475px) {
                            font-size: 23px;
                        }
                    }
                }

                .card_item {
                    margin-bottom: 22px;
                    display: flex;
                    border-radius: 4px;
                    transition: .1s linear;
                    border-top: 1px solid $border;
                    background: #fff;
                    padding-top: 30px;

                    &:not(:first-child) {}

                    @media (max-width: 768px) {
                        flex-direction: column;
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;

                    }

                    .column_first {
                        flex: 0.32;
                        display: flex;
                        align-items: center;
                        padding: 0px 15px;
                        border-radius: 3px;
                        transition: .5s ease;
                        justify-content: center;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 120%;
                        // background-color: #f9fafb;
                        border: 1px solid$border;




                        @media (max-width: 768px) {
                            min-height: 200px;
                            margin-bottom: 1rem;
                            background-size: 60%;
                        }

                        @media (max-width: 700px) {
                            flex: 0.24;
                        }



                        @media (max-width: 500px) {
                            background-size: 100%;
                        }

                        @media (max-width: 400px) {
                            background-size: 120%;
                        }

                    }

                    .column_first[data="1"] {
                        @media (max-width: 420px) {
                            background-size: 130% !important;
                        }
                    }

                    .column_second {
                        flex: 0.68;
                        height: 100%;
                        padding: 15px 15px;
                        padding-left: 1.5rem;

                        @media (max-width: 1100px) {
                            padding-left: 15px;
                            padding-right: 0px;
                        }

                        @media (max-width: 990px) {
                            padding-left: 15px;
                        }

                        @media (max-width: 768px) {
                            padding: 0px;
                            padding-left: 15px;
                            padding-bottom: 10px;
                        }

                        .column_second_flex_column {
                            display: flex;
                            flex-direction: column;

                            .name_and_postcode_div {
                                .postcode {
                                    color: $light-1;
                                    //!change
                                    font-size: 17px;
                                }

                                .name {
                                    margin-top: 5px !important;
                                    font-weight: 500;
                                    //!change
                                    font-size: 20px;
                                    font-family: $font-jost;
                                    margin-bottom: 0px !important;

                                    span {
                                        color: $light-1;
                                        font-size: 14px;
                                        font-family: $font-jost;
                                        margin-left: 4px;
                                        text-transform: lowercase;
                                    }
                                }
                            }

                            .car_features {
                                margin-top: 15px;
                                display: grid;
                                //!change
                                grid-template-columns: 140px 140px 140px;



                                @media (max-width:990px) {
                                    grid-template-columns: 1fr 1fr 1fr;
                                }




                                @media (max-width:460px) {
                                    grid-template-columns: 1fr;
                                }

                                .meet_greet_icon[direction="true"] {
                                    flex-direction: row-reverse;
                                    display: flex;
                                    justify-content: flex-end;
                                }

                                .feature_column {
                                    max-width: 100%;
                                    width: 100%;
                                    padding-bottom: 5px;
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;

                                    @media (max-width: 990px) {}

                                    i {
                                        color: rgb(5, 16, 54);
                                        margin-right: 5px;
                                        margin-left: 5px;
                                        //!change
                                        font-size: 16px;
                                    }

                                    span {
                                        //!change
                                        font-size: 16px;
                                        font-family: $font-jost;
                                        color: rgb(5, 16, 54);

                                        &:nth-child(1) {
                                            font-weight: bold;
                                        }

                                        //passengertext
                                        &:nth-child(2) {
                                            font-weight: 500 !important;
                                        }
                                    }




                                    //meet gree icon
                                    &:nth-child(3) {
                                        @media (max-width: 380px) {
                                            margin-left: 4px;

                                            img {
                                                margin-left: -2px;
                                            }
                                        }
                                    }

                                }
                            }

                            .apl_features {
                                margin-top: 10px;
                                display: flex;
                                flex-wrap: wrap;

                                @media (max-width: 460px) {
                                    flex-direction: column;
                                }

                                .apl_feature {
                                    max-width: 50%;
                                    width: 100%;
                                    padding-bottom: 5px;
                                    display: flex;
                                    align-items: center;
                                    font-size: 15px;
                                    font-family: $font-jost;
                                    font-weight: 500;
                                    color: rgb(0, 128, 9);
                                    color: $dark-1;

                                    text-transform: capitalize;

                                    @media (max-width: 1100px) {
                                        &:nth-of-type(odd) {
                                            max-width: 45%;
                                        }
                                    }

                                    @media (max-width: 460px) {
                                        max-width: 100%;

                                        &:nth-of-type(odd) {
                                            max-width: 100%;
                                        }
                                    }


                                    i {
                                        color: black;
                                        font-size: 10px;
                                        margin-right: 5px;
                                    }

                                    .leftFeatureIcon {
                                        margin-right: 0px;
                                        margin-left: 5px;
                                    }
                                }

                                .show_more_than360 {
                                    @media (max-width: 460px) {
                                        display: none;
                                    }
                                }

                                .show_less_than360 {
                                    display: none;

                                    @media (max-width: 460px) {
                                        display: block;

                                    }
                                }
                            }
                        }

                    }
                }

                .fleet_footer {
                    padding: 20px;
                    margin-bottom: 4em;
                    border: 1px solid #f7f7f7;
                    color: $dark-1;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    font-family: $font-jost;

                    h1 {
                        @media (max-width: 768px) {
                            font-size: 30px;
                        }

                        @media (max-width: 500px) {
                            font-size: 25px;
                        }

                        @media (max-width: 475px) {
                            font-size: 23px;
                        }
                    }

                    h2 {
                        @media (max-width: 768px) {
                            font-size: 24px;
                        }

                        @media (max-width: 500px) {
                            font-size: 22px;
                        }

                        @media (max-width: 475px) {
                            font-size: 20px;
                        }
                    }

                    h3 {
                        @media (max-width: 768px) {
                            font-size: 22px;
                        }

                        @media (max-width: 500px) {
                            font-size: 20px;
                        }

                        @media (max-width: 475px) {
                            font-size: 18px;
                        }
                    }

                    h2,
                    h3 {
                        margin-bottom: 4px;
                    }

                    p {
                        margin-bottom: 10px;
                        color: $light-1;
                    }

                    b {
                        font-weight: 500;

                    }

                    ul {
                        li {
                            ul {
                                margin-bottom: 15px;

                                li {
                                    color: $light-1;
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}

.fleet[bggray="true"] {
    background-color: $light-2;
}

.fleet[bggray="false"] {
    background-color: white !important;
}