@import '../../styles/colors';

.hotelTaxi_page {
    padding-top: 0px;
    position: relative;

    &_section {
        position: relative;


        &_container {
            @media (max-width: 990px) {
                max-width: 990px !important;
            }

            .title {
                font-size: 30px;
                margin-top: 2rem;
                margin-bottom: 2rem;

                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
        }
    }
}