         @import '../../../styles/variables';
         @import '../../../styles/_fonts';

         // it is for desktop
         .header_menu_content {
             ul {
                 display: flex;

                 @media(max-width:1280px) {
                     display: none;
                 }


                 li {
                     padding: 25px 0px;

                     a {
                         padding: 0 10px;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                         color: white;
                         text-transform: capitalize;

                         span {
                             margin-right: 6px;
                             font-weight: bold;
                             letter-spacing: 0.5px;
                             font-size: 13px;
                             cursor: pointer;

                         }

                         i {
                             font-size: 11px;
                             margin-bottom: -1px;
                             font-weight: bold;
                         }
                     }
                 }

                 .has_children {
                     position: relative;

                     .nocursor {
                         pointer-events: none;

                         span {
                             cursor: auto !important;
                         }
                     }

                     .hoverUl {
                         position: absolute;
                         background-color: white;
                         top: 80px;
                         left: 0px;
                         visibility: hidden;
                         opacity: 0;
                         transition: 0.1s ease;
                         display: flex;
                         flex-direction: column;
                         width: 275px;
                         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                         border-radius: 5px;
                         padding: 13px;
                         height: auto;

                         &:before {
                             content: '';
                             position: absolute;
                             top: -5px;
                             left: 20px;
                             width: 10px;
                             height: 10px;
                             background-color: white;
                             transform: rotate(45deg);
                         }

                         .li_item {
                             padding: 12px 14px 8px 20px !important;
                             text-transform: capitalize;

                             &:hover {
                                 background-color: rgba(53, 84, 209, 0.15);
                                 transition: 0.4s ease;
                             }
                         }
                     }

                     .visible {
                         opacity: 1;
                         visibility: visible;
                     }
                 }
             }
         }