
@import '../../../../styles/variables';

.quotation_header {
    padding: 20px;
    margin-bottom: 16px;
    background-color: $--color-light-1;
    border-color: #f7f7f7;


    ul> {
        @media (max-width: 768px) {

            li:nth-child(4),
            li:nth-child(3) {
                display: none;
            }
        }

        li {
            color: rgb(0, 0, 0);
            font-size: 15px;
            letter-spacing: 0.3px;

            .left {
                text-transform: capitalize;
            }

            .li_icon {
                margin-right: 5px;
                color: $--color-accent-1;
                font-weight: bold;
            }

            .strong {
                color: black;
                font-weight: bold;

                @media (max-width: 768px) {
                    font-size: 10px;
                }


            }
        }
    }
}