@import '../../styles/variables';
@import '../../styles/_fonts';


.faq {
    background-color: $light-4;
    padding-bottom: 10px;

    .faq_section {
        @media (max-width:1400px) {
            margin: 0 35px !important;
        }

        @media (max-width:768px) {
            margin: 0 20px !important;
        }

        @media (max-width:450px) {
            margin: 0 10px !important;
        }

        .fleet_section_container {
            display: flex;
            gap: 60px;
            padding: 0px;

            @media (max-width:1400px) {
                max-width: 1400px !important;
                width: 100%;
            }

        }
    }
}