@import '../../styles/variables.scss';

.driverswanted {
    height: 100%;
    position: relative;
    border: 1px solid $--color-light-1;
    border-left: 0px;
    border-right: 0px;
    background-color: #ffffff;

    &_section {
        &_container {
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                @media (max-width: 1050px) {
                    flex-direction: column;
                }

                .left {
                    flex: 1;

                    h1 {
                        margin-bottom: .55rem;
                        margin-top: 0.75rem;
                        text-transform: capitalize !important;

                        @media (max-width: 768px) {
                            font-size: 30px;
                        }
                    }

                    h2 {
                        font-size: 18px;
                        font-weight: bold;
                        padding-top: 1.5rem;
                        border-top: 1px solid $--color-light-4;
                    }

                    ul {
                        padding-left: 40px;

                        li {
                            list-style: disc;
                            padding-bottom: 0.4rem;

                            strong {
                                font-weight: 500 !important;
                            }
                        }
                    }

                    p {

                        a {
                            color: $--color-accent-1;
                            font-weight: 500;
                        }

                        span {
                            color: red;
                            font-weight: 500;
                        }

                    }

                    .app_div {

                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: baseline;

                        p {
                            font-size: 18px;
                        }

                        .app_link {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-decoration: none;
                            color: $--color-accent-1;
                            cursor: pointer;

                            span {
                                margin-top: 10px;
                                font-size: 16px;
                                text-align: center;
                            }
                        }

                        .image_wrapper {
                            width: 200px;
                            height: 200px;
                            position: relative;
                            border-radius: 12px;
                            overflow: hidden;

                            img {
                                object-fit: contain; // veya cover istersen
                                border-radius: 12px;
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    position: sticky;
                    top: 100px;
                    align-self: flex-start;
                    justify-content: center;

                    @media (max-width: 1050px) {
                        align-self: center;
                    }

                    .img_div {
                        width: 300px;
                        height: 600px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        align-items: center;
                        position: relative;

                        @media (max-width: 1050px) {
                            width: 250px;
                        }

                        @media (max-width: 990px) {
                            display: none;
                        }

                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}